@charset "UTF-8";

@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'SUIT-Regular', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #403835;
}
ul, li {
  list-style: none;
}
a, a:visited, a:link, a:hover {
  text-decoration: none;
  color: #403835;
}
img {
  vertical-align: top;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: inner-spin-button;    
  opacity: 1;
}

#wrap {
  width: 1200px;
  margin: 0 auto;
}

#header {
  width: 100%;
  padding: 0 30px;
  background-color: #403835;
}
#header::after {
  content: '';
  display: block;
  clear: left;
}
#header > div {
  float: left;
  padding-top: 5px;
  margin-right: 80px;
}
#header > div:last-child {
  margin-right: 0;
  padding-top: 35px;
}
#header .logo img {
  width: 170px;
}
#header .nav {
  height: 100%;
  text-align: center;
  line-height: 96px;
}
#header .nav > ul {
  font-size: 24px;
}
#header .nav ul li {
  display: block;
  float: left;
  position: relative;
  width: 180px;
  height: 100%;
}
#header .nav ul li a {
  color: #f2ebe9;
}
#header .nav ul li:hover {
  background-color: #d9cec7;
  color: #fff;
}
#header .nav ul li:hover a {
  color: #fff;
}
#header .nav ul li:hover .sub_nav {
  visibility: visible;
}
#header .nav .sub_nav {
  visibility: hidden;
  position: absolute;
  z-index: 9999;
  background-color: #d9cec7;
}
#header .nav .sub_nav li {
  height: 80px;
  line-height: 80px;
  border-top: 1px solid #eee;
}
#header .login_box a:first-child {
  padding-right: 10px;
}

#mainBanner {
  position: relative;
  width: 100%;
  height: 450px;
  background: url('../public/img/main_img.jpg') no-repeat center center;
}
#mainBanner div {
  position: absolute;
  top: 145px;
  left: 340px;
  width: 500px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  color: #f2ebe9;
  font-size: 32px;
}

#subBanner {
  position: relative;
  width: 100%;
  height: 150px;
  background: url('../public/img/main_img.jpg') no-repeat center center;
}
#subBanner div {
  position: absolute;
  top: 35px;
  left: 340px;
  width: 500px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  color: #f2ebe9;
  font-size: 26px;
}

#content {
  width: 800px;
  margin: 0 auto;
}
#content .box, #content .bottom_box {
  width: 100%;
}
#content .box > div {
  overflow: hidden;
  margin: 15px 0;
}
#content .box::after {
  content: '';
  display: block;
  clear: left;
}
#content .box img {
  width: 100%;
}
#content .popular, #content .recommend {
  position: relative;
  width: 385px;
  height: 200px;
}
#content .link {
  position: absolute;
  bottom: 10px;
  right: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 15px;
  text-align: right;
}
#content .link a {
  color: #f2ebe9;
  font-Size: 28px;
}
#content .link span {
  text-decoration: underline;
  font-size: 14px;
}
#content .popular {
  float: left;
}
#content .recommend {
  float: right;
}
#content .product {
  position: relative;
  width: 248px;
  height: 240px;
  float: left;
  border: 1px solid #f2ebe9;
}
#content .product:nth-of-type(3n+4) { /* 중간 상품 */
  float: left;
  margin-left: 30px;
}
#content .product:nth-of-type(3n+2) { /* 오른쪽 상품 */
  float: right;
  margin-left: 0;
}
#content .product div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #403835;
  color: #f2ebe9;
}

#side_nav {
  float: left;
}
#side_nav::after {
  content: '';
  display: block;
  clear: left;
}
#side_nav .side_title {
  width: 200px;
  height: 110px;
  line-height: 110px;
  text-align: center;
  font-size: 26px;
  color: #fff;
  background: #403835;
}
#side_nav .side_btn {
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  background: #f2ebe9;
  border: 1px solid #d9cec7;
  border-top: 0;
}
#side_nav .side_btn a {
  color: #403835;
}

#sub_content {
  width: 770px;
  margin: 0 auto;
}
#sub_content::after {
  content: '';
  display: block;
  clear: both;
}
#sub_content #breadcrum {
  width: 100%;
  height: 85px;
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 100px;
  border-bottom: 1px solid #e4e1df;
  color: #403835;
}
#sub_content #sub_product {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  margin-bottom: 50px;
}
#sub_content #sub_product a {
  color: #403835;
}
#sub_content #sub_product img {
  width: 148px;
  height: 148px;
  border: 1px solid #a69a94;
}
#sub_content #sub_product div {
  text-align: center;
}
#sub_content #sub_product .title {
  font-size: 16px;
}
#sub_content #sub_product .price {
  font-size: 14px;
}
#sub_content .product_img {
  float: left;
}
#sub_content .product_img img {
  width: 400px;
  height: 300px;
  border: 1px solid #a69a94;
}
#sub_content .product_info {
  float: right;
  width: 350px;
}
#sub_content .product_info .title {
  font-size: 28px;
}
#sub_content .product_info .price {
  font-size: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #a69a94;
}
#sub_content .product_info select {
  display: block;
  width: 200px;
  padding: 5px;
  margin-bottom: 5px;
  font-family: 'SUIT-Regular', sans-serif;
  font-size: 13px;
  border-radius: 5px;
  border-color: #ccc;
}
#sub_content .product_info .quantity {
  width: 130px;
  font-family: 'SUIT-Regular', sans-serif;
  font-size: 13px;
  padding: 10px 0px 10px 10px;;
  border-radius: 5px;
  margin-bottom: 25px;
  border: 1px solid #ccc;
}
#sub_content .product_info .quantity label,
#sub_content .product_info .quantity input {
  display: inline-block;
  border: 0;
  margin-right: 13px;
}
#sub_content .product_info .quantity input {
  margin: 0;
  width: 75px;
}
#sub_content .product_info .buy,
#sub_content .product_info .wish_list {
  border: 0;
}
#sub_content .product_info .buy {
  width: 150px;
  height: 40px;
  margin-right: 15px;
  background-color: #59514f;
}
#sub_content .product_info .buy a {
  color: #f2ebe9;
}
#sub_content .product_info .wish_list {
  width: 150px;
  height: 40px;
  background-color: #f2ebe9;
}
#sub_content .product_info .wish_list a {
  color: #403835;
}
#sub_content .sub_desc img {
  margin-top: 20px;
}


#footer {
  width: 100%;
}
#footer, #footer a {
  font-size: 13px;
  color: #f2ebe9;
}
#footer a:hover {
  text-decoration: underline;
}
#footer > div {
  padding-left: 200px;
}
#footer .top {
  height: 30px;
  line-height: 30px;
  background: #403835;
}
#footer .bottom {
  height: 170px;
  padding-top: 10px;
  line-height: 15px;
  background: #a69a94;
}
#footer .friend_company {
  float: left;
  margin-top: 50px;
}
#footer .footer_logo {
  float: right;
  margin-right: 150px;
}
#footer .footer_logo img {
  width: 170px;
}